<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/signin.css" type="text/css">
  <link rel="stylesheet" href="/static/css/styles.css" type="text/css">


<link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

  <title>Sign up</title>
</head>
<body class="full-height-grow">
  <div class="container full-height-grow">
    <header class="main-header">
      <a href="Login.html" class="logo-brand">
        <img src="/static/img/logo.svg" class="img-logo" alt="logo-name">
        <div class="brand-name">My personal Site</div>
      </a>
      <nav class="main-nav">
        <ul>
          <li><a href="{{url_for('login')}}">Login</a></li>
          <li><a href="{{url_for('register')}}">Sign up!</a></li>
        </ul>
      </nav>
    </header>
    <section class="join-section">
      <h1 class="text-join"> Lets be <br>
        <span class="underlined-text">
          connected!
        </span
        ></h1>
      <form  action="{{ url_for('register') }}" method="post" class="form-join">
        <div class="input-group">
          <label>Name:</label>
          <input type="text" name="name" id="name" placeholder="Name" required="required">
        </div>
        <div class="input-group">
          <label>Email:</label>
          <input type="email" name="email" id="email" placeholder="email@email.com" required="required">
      </div>
      <div class="input-group">
        <label>Password:</label>
        <input type="password" name="password" id="password" placeholder="Password" required="required">
      </div>
      <div class="input-group">
        <button type="submit" class="btn">Join</button>
      </div>
      </form>
    </section>
  </div> 
    <footer class="main-footer">
      <div class="container">
        <nav class="footer-nav">
          <ul>
            <li>
              <a href="{{url_for('aboutme')}}">About me</a>
            </li>
            <li>
              <a href="{{url_for('contact_me')}}">Contact me!</a>
            </li>
          </ul>
        </nav>
        <nav class="footer-nav">
          <ul>
            <li>
              <a href="#" class="social-link">Instagram</a>
            </li>
            <li>
              <a href="#" class="social-link">Twitter</a
              >
            </li>
          </ul>
        </nav>
      </div>
   
    </footer>


</body>
</html>
